downloads/
dumps/
journeymap/
local/
logs/
mods/
patchouli_books/
resourcepacks/
saves/
schematics/
screenshoots/
woot/


.curseclient
BotaniaVars.dat
minecraftinstance.json
options.txt
patchouli_data.json
realms_persistence.json
reauth.toml
usercache.json
usernamecache.json
